In [22]:
import pandas as pd
import numpy as np
import statistics as st

In [6]:
#create a Python dictionary
df = pd.DataFrame({"John": [98,87,87,88,96],
                   "Adam": [88,52,69,79,79],
                   'David': [92,92,60,60,92]})
df

   John  Adam  David
0    98    88     92
1    87    52     92
2    87    69     60
3    88    79     60
4    96    79     92

In [ ]:
#Measure of the Central Tendency: mean, median, mode

In [7]:
#calculate mean for each column, axis = 0
df.mean(axis = 0)

John     91.2
Adam     73.4
David    79.2
dtype: float64

In [8]:
df.median(axis=0)

John     88.0
Adam     79.0
David    92.0
dtype: float64

In [9]:
#mode is the most frequently occuring value in the dataset
df.mode(axis=0)

   John  Adam  David
0    87    79     92

In [10]:
#Measure of Dispersion: Variance and Standard Deviation

In [11]:
#sample variance
df.var()

John      28.7
Adam     188.3
David    307.2
dtype: float64

In [15]:
#get the column 'John' and from each value subtract mean. Square the total **2 and sum() up. Divide by the number of elements -1
((df['John'] - df['John'].mean())**2).sum() / (len(df['John']) -1)

28.700000000000003

In [16]:
#population variance, ddof - the degree of freedom
df.var(ddof=0)

John      22.96
Adam     150.64
David    245.76
dtype: float64

In [17]:
((df['John'] - df['John'].mean())**2).sum() / (len(df['John']))  #remove -1

22.96

In [18]:
#Standard Deviation for sample
df.std()

John      5.357238
Adam     13.722245
David    17.527122
dtype: float64

In [19]:
#Satndard Deviation for population
df.std(ddof=0)

John      4.791659
Adam     12.273549
David    15.676734
dtype: float64

In [21]:
np.sqrt(22.96)

4.791659420284375

In [23]:
#Satistics module

In [24]:
num = [1,2,3,4,4,6,7,4,9]

In [26]:
st.mean(num)

4.444444444444445

In [27]:
st.median(num)

4

In [28]:
st.mode(num)

4

In [29]:
st.variance(num)

6.277777777777778

In [30]:
st.sqrt(st.variance(num))

2.5055493963954847