In [ ]:
# Loading example data
# Find Descriptive Statistics Values using Python: Skewness, Kurtosis, Percentile, z-score(standard score)

In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv("C:/Users/go27s/OneDrive/Documents/Udemy/Statistics and Probability/Statistics/lesson 1.14/sales_train.csv")

In [8]:
df.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00             1
1  03.01.2013               0       25     2552      899.00             1
2  05.01.2013               0       25     2552      899.00            -1
3  06.01.2013               0       25     2554     1709.05             1
4  15.01.2013               0       25     2555     1099.00             1

In [9]:
# 5 summary point numbers - measure of position
df.describe()

       date_block_num       shop_id       item_id    item_price  item_cnt_day
count    1.043246e+06  1.043246e+06  1.043246e+06  1.043246e+06  1.043246e+06
mean     4.472810e+00  3.245368e+01  1.024260e+04  6.823654e+02  1.220174e+00
std      2.967065e+00  1.625856e+01  6.305360e+03  1.124829e+03  1.600203e+00
min      0.000000e+00  0.000000e+00  1.200000e+01 -1.000000e+00 -6.000000e+00
25%      2.000000e+00  2.200000e+01  4.548000e+03  1.990000e+02  1.000000e+00
50%      4.000000e+00  3.000000e+01  9.691000e+03  3.990000e+02  1.000000e+00
75%      7.000000e+00  4.700000e+01  1.561875e+04  6.993000e+02  1.000000e+00
max      1.000000e+01  5.900000e+01  2.216800e+04  5.920000e+04  2.880000e+02

In [11]:
# Range - measure of spread(whole dataset). Function ptp() returns range of values (max minus min) along an axis
# Range is a difference between the lowest and highest value. It's the simplest measure of variablity, influenced by outliers
np.ptp(df['item_price'])

59201.0

In [12]:
# To verify the above range result
df['item_price'].max() - df['item_price'].min()

59201.0

In [13]:
# IQR - difference between the first quartile and the third quartile. The dataset is divided into 3 Quartiles â†’ Q1, Q2, Q3
from scipy.stats import iqr

In [14]:
iqr(df['item_price'])

500.29999999999995

In [15]:
# Standard Deviation - The standard deviation is the average amount of variability in your dataset. 
# It tells you, on average, how far each value lies from the mean.

#A high standard deviation means that values are generally far from the mean, 
#while a low standard deviation indicates that values are clustered close to the mean.

In [16]:
# Kurtosis - descriptor of the distribution shape in terms of height or flatness.
from scipy.stats import kurtosis

In [19]:
print(f"Pearsons kurtosis: {kurtosis(df['item_price'], fisher = False)}")
print(f"Fisher's kurtosis: {kurtosis(df['item_price'], fisher = True)}")

Pearsons kurtosis: 92.66216201619402
Fisher's kurtosis: 89.66216201619402

In [20]:
# Skewness
from scipy.stats import skew

In [21]:
# is the data positively or negatively skewed
skew(df['item_price'])

7.754518597379134

In [23]:
# Percentile
np.percentile(df['item_price'], 75)

699.3

In [24]:
from scipy.stats import zscore

In [25]:
# Generate zscore of the individual values in my column - distance from the mean
zscore(df['item_price'])

0          0.281496
1          0.192593
2          0.192593
3          0.912748
4          0.370398
             ...
1043241   -0.429724
1043242   -0.429724
1043243   -0.429724
1043244   -0.518626
1043245   -0.429724
Name: item_price, Length: 1043246, dtype: float64