In [ ]:
import pandas as pd
import numpy as np
from sklearn.utils import shuffle

data_url = "http://lib.stat.cmu.edu/datasets/boston"
raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
target = raw_df.values[1::2, 2]
feat = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT']

In [ ]:
df = pd.DataFrame(data, columns = feat)
df['target'] = target
df = shuffle(df)
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
384,20.08490,0.0,18.10,0.0,0.700,4.368,91.2,1.4395,24.0,666.0,20.2,285.83,30.63,8.8
484,2.37857,0.0,18.10,0.0,0.583,5.871,41.9,3.7240,24.0,666.0,20.2,370.73,13.34,20.6
206,0.22969,0.0,10.59,0.0,0.489,6.326,52.5,4.3549,4.0,277.0,18.6,394.87,10.97,24.4
411,14.05070,0.0,18.10,0.0,0.597,6.657,100.0,1.5275,24.0,666.0,20.2,35.05,21.22,17.2
413,28.65580,0.0,18.10,0.0,0.597,5.155,100.0,1.5894,24.0,666.0,20.2,210.97,20.08,16.3

In [ ]:
# generate the sample
sample_size=200
sample = df.sample(n=sample_size,random_state=1)

In [ ]:
# Calculate z-critical, margin of error and confidence interval

sample_mean = sample.target.mean()

from scipy import stats
from math import sqrt

z_critical = stats.norm.ppf(q=0.975)

sample_std = sample.target.std()

margin_of_error = z_critical * (sample_std/sqrt(sample_size))

confidence_interval = (sample_mean - margin_of_error,
                       sample_mean + margin_of_error)

print("Z-critical value is", z_critical)
print("Margin of error is", margin_of_error)
print("confidence interval value is", confidence_interval)

Z-critical value is 1.959963984540054
Margin of error is 1.346333080315901
confidence interval value is (22.072166919684097, 24.7648330803159)