In [ ]:
# Place the Google Drive Sharing link
file_share_link = "https://drive.google.com/file/d/1vdB6-2PPyPYmND-PAI81jscYn8xbJbOI/view?usp=sharing"

# extract the ID of the file
file_id = file_share_link[file_share_link.find("d/")+2 : file_share_link.find("/v")]
print(file_id)
!gdown "$file_id" # Download the data from Google Drive

1vdB6-2PPyPYmND-PAI81jscYn8xbJbOI
Downloading...
From: https://drive.google.com/uc?id=1vdB6-2PPyPYmND-PAI81jscYn8xbJbOI
To: /content/Salary_Data.csv
100% 350/350 [00:00<00:00, 1.00MB/s]

In [ ]:
import pandas as pd
df = pd.read_csv("Salary_Data.csv")

In [ ]:
df.head()

   YearsExperience  Salary
0              1.2   39450
1              1.4   46200
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [ ]:
df.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [ ]:
df.shape

(30, 2)

In [ ]:
X = df['YearsExperience']
y = df['Salary']

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.1, random_state=42)
print(X_train.shape, X_test.shape)

(27,) (3,)

In [ ]:
import numpy as np
def coef_estimate(X,y):
  n = np.size(X)

  X_mean = np.mean(X)
  y_mean = np.mean(y)

  SS_xy = np.sum(y*X) - (n*y_mean*X_mean)
  SS_xx = np.sum(X*X) - (n* X_mean * X_mean)
  w = SS_xy / SS_xx
  c = y_mean - w*X_mean
  return c,w

In [ ]:
coef_estimate(X_train,y_train)

(25839.066282321088, 9409.439082376412)

In [ ]:
c,w = coef_estimate(X_train,y_train)

In [ ]:
y_pred = w*X_test + c

In [ ]:
# evaluation
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.8936100776818983

In [ ]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test,y_pred)

48509442.755734764