In [ ]:
# Place the Google Drive Sharing link
file_share_link = "https://drive.google.com/file/d/1l6i0KKwT7rREBJe4yv7DDBht7z4lgWgg/view?usp=sharing"

# extract the ID of the file
file_id = file_share_link[file_share_link.find("d/")+2 : file_share_link.find("/v")]
print(file_id)
!gdown "$file_id" # Download the data from Google Drive

1l6i0KKwT7rREBJe4yv7DDBht7z4lgWgg
Downloading...
From: https://drive.google.com/uc?id=1l6i0KKwT7rREBJe4yv7DDBht7z4lgWgg
To: /content/california.csv
100% 831k/831k [00:00<00:00, 128MB/s]

In [ ]:
import pandas as pd
df = pd.read_csv("california.csv")
df.head()

,long,lat,median_age,tot_rooms,tot_bedrooms,pop,households,median_income,median_house_value
0,-114.31,34.19,15,5610,1280,1014,470,1.4936,66900
1,-114.47,34.40,19,7650,1901,1129,463,1.8200,80100
2,-114.56,33.69,17,720,174,333,117,1.6509,85700
3,-114.57,33.64,14,1501,337,515,226,3.1917,73400
4,-114.57,33.57,20,1454,326,624,262,1.9250,65500

In [ ]:
df.shape

(17000, 9)

In [ ]:
df.isnull().sum()

long                  0
lat                   0
median_age            0
tot_rooms             0
tot_bedrooms          0
pop                   0
households            0
median_income         0
median_house_value    0
dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
X = df.drop(columns = ['median_house_value'])
y = df['median_house_value']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2, random_state=42)

In [ ]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(X_train,y_train)

LinearRegression()

In [ ]:
y_pred = lm.predict(X_test)

In [ ]:
from sklearn.metrics import r2_score, mean_absolute_error
print(f"r2 score is {r2_score(y_test,y_pred)}")
print(f"mean_absolute_error is {mean_absolute_error(y_test,y_pred)}")

r2 score is 0.6636385657674334
mean_absolute_error is 49983.58584988581

In [ ]:
lm.coef_

array([-4.34652477e+04, -4.31063044e+04,  1.13172438e+03, -8.84326062e+00,
        1.13707973e+02, -3.56570769e+01,  4.51475550e+01,  4.01947263e+04])

In [ ]:
lm.intercept_

-3652253.1348448903