In [1]:
# https://www.youtube.com/watch?v=78ut-S-QOEQ&list=PLe9UEU4oeAuV7RtCbL76hca5ELO_IELk4&ab_channel=MarkKeith

In [2]:
# Univariate Statistics:

# 1. General info: data types, count of total values, number of unique values, null values, duplicates
# 2. Range and middle: min, max, mean, median, mode, quartiles
# 3. Normality and spread: standard deviation, skewness, kurtosis
# Normal distribution is critical for predictive analysis

In [ ]:
# General info:

# df.shape
# df.describe()
# print(f"The count of values age column: {df['age'].count()}")
# df['sex'].unique()                                                   List all unique values

# for col in df.columns:
#     print(f"{col} number of unique values are: {df[col].nunique()} ")  Get count of unique values

# df['col'].isnull.sum()
# df[df.index.duplicated() == True]

In [ ]:
# Range and middle of the data: 

# df['col'].min() / max() / quartile(.25/.50/.75) / mean / median / mode(most common value)

In [ ]:
# Spread:

# np.std(df['charges'], ddof=1)    sample standard deviation

In [3]:
import numpy as np
import pandas as pd

In [4]:
# Find out how much a customer is going to cost me, based on the factors

df = pd.read_csv("insurance.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [5]:
df.describe()

# count() gives a total of not null values

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [7]:
df.shape

(1338, 7)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [9]:
print(f"The count of age column: {df['age'].count()}")

The count of age column: 1338

In [17]:
for col in df.columns:
    print(f"{col} row count is:  {df[col].count()}")

age row count is:  1338
sex row count is:  1338
bmi row count is:  1338
children row count is:  1338
smoker row count is:  1338
region row count is:  1338
charges row count is:  1338

In [19]:
df['sex'].unique()

array(['female', 'male'], dtype=object)

In [21]:
for col in df.columns:
    print(f"{col} number of unique values are: {df[col].nunique()} ")
    
    
# Region has only 4 unique values, which isn't very granular

age number of unique values are: 47
sex number of unique values are: 2
bmi number of unique values are: 548
children number of unique values are: 6
smoker number of unique values are: 2
region number of unique values are: 4
charges number of unique values are: 1337

In [28]:
df[df.index.duplicated() == True]

Empty DataFrame
Columns: [age, sex, bmi, children, smoker, region, charges]
Index: []

In [29]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [30]:
# ddof --> sample standard deviation

np.std(df['charges'], ddof=1)

12105.484975561605

In [31]:
from scipy.stats import kurtosis, skew

In [ ]:
# Skewness: looking at the distribution, if the score is between 1 and -1, it's excellent. Value between 2 and -2 is acceptable
# If it's skewed left, it's negative. If it's skewed right, it's positive

In [ ]:
# Kurtosis: the hight of the distribution bell. Is the data heavy-tailed or light-tailed relative to a normal distribution.
# Values between 2 and -2 are considered acceptable

In [32]:
# The score is positive so it means it Right skewed, meaning we have lots of charges that are low and a few high charges

df['charges'].skew()

1.5158796580240388

In [33]:
# The score is high, which means we have lots of values clustered together, so it's not very spread to the tails

df['charges'].kurt()

1.6062986532967907