In [ ]:
# Change column type to date
# google['Date'] = pd.to_datetime(google['Date'])


# Add Month and Year
# google['Month']= google['Date'].dt.month
# google['Year']= google['Date'].dt.year


# Group closing price by month
# google.groupby(by='Month')['Close'].mean()


# Get lowest value of Closing price
# google.sort_values(by='Close').head(1)
# OR
# idx_min = google['Close'].argmin()
# google.iloc[[idx_min]]                                  # two sets of [[]] for 2 dimensional output


# Change index to first column (after the index)
# google = pd.read_csv("google.csv", index_col=0)        # 'Date' column becomes an index


# Drop columns
# google = google.drop(columns=['Month', 'Year'])


# rename columns
# google.rename(columns={'Open': 'O', 'High': 'H', 'Low': 'L', 'Close': 'C', 'Volume': 'V'}, inplace=True)

In [1]:
import pandas as pd

In [29]:
google = pd.read_csv("google.csv")
google. head()

         Date     Open     High        Low    Close   Volume
0  2020-07-02  1451.84  1488.52  1451.0650  1469.93  2860915
1  2020-07-01  1419.17  1448.48  1414.1800  1442.00  2109124
2  2020-06-30  1396.88  1424.00  1386.9301  1418.05  2014320
3  2020-06-29  1360.34  1398.00  1351.6500  1397.17  2253678
4  2020-06-26  1432.63  1437.02  1355.0000  1362.54  4882014

In [19]:
print(google.info())
print()
print(google.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    30 non-null     object
 1   Open    30 non-null     float64
 2   High    30 non-null     float64
 3   Low     30 non-null     float64
 4   Close   30 non-null     float64
 5   Volume  30 non-null     int64
dtypes: float64(4), int64(1), object(1)
memory usage: 1.5+ KB
None

              Open         High          Low        Close        Volume
count    30.000000    30.000000    30.000000    30.000000  3.000000e+01
mean   1428.889000  1445.470440  1412.767923  1430.681000  1.869471e+06
std      22.943586    19.462454    24.728358    22.717075  7.014872e+05
min    1360.340000  1398.000000  1351.650000  1362.540000  1.172069e+06
25%    1419.377500  1436.802500  1396.565000  1418.097500  1.528364e+06
50%    1431.925000  1444.805000  1419.095000  1433.820000  1.687518e+06
75%    1444.605000  1452.628250  1428.301250  1445.430000  2.085423e+06
max    1463.280000  1488.520000  1454.355000  1469.930000  4.882014e+06

In [20]:
google = google.set_index('Date')

In [21]:
google.head()

               Open     High        Low    Close   Volume
Date
2020-07-02  1451.84  1488.52  1451.0650  1469.93  2860915
2020-07-01  1419.17  1448.48  1414.1800  1442.00  2109124
2020-06-30  1396.88  1424.00  1386.9301  1418.05  2014320
2020-06-29  1360.34  1398.00  1351.6500  1397.17  2253678
2020-06-26  1432.63  1437.02  1355.0000  1362.54  4882014

In [25]:
google.reset_index(inplace=True)

In [30]:
google.head(2)

         Date     Open     High       Low    Close   Volume
0  2020-07-02  1451.84  1488.52  1451.065  1469.93  2860915
1  2020-07-01  1419.17  1448.48  1414.180  1442.00  2109124

In [32]:
google['Date'] = pd.to_datetime(google['Date'])

In [33]:
google['Month'] = google['Date'].dt.month
google['Year'] = google['Date'].dt.year

In [34]:
google.head(2)

        Date     Open     High       Low    Close   Volume  Month  Year
0 2020-07-02  1451.84  1488.52  1451.065  1469.93  2860915      7  2020
1 2020-07-01  1419.17  1448.48  1414.180  1442.00  2109124      7  2020

In [36]:
google = pd.read_csv("google.csv", index_col =0)

In [37]:
google.head()

               Open     High        Low    Close   Volume
Date
2020-07-02  1451.84  1488.52  1451.0650  1469.93  2860915
2020-07-01  1419.17  1448.48  1414.1800  1442.00  2109124
2020-06-30  1396.88  1424.00  1386.9301  1418.05  2014320
2020-06-29  1360.34  1398.00  1351.6500  1397.17  2253678
2020-06-26  1432.63  1437.02  1355.0000  1362.54  4882014

In [38]:
google.reset_index(inplace=True)
google.head(2)

         Date     Open     High       Low    Close   Volume
0  2020-07-02  1451.84  1488.52  1451.065  1469.93  2860915
1  2020-07-01  1419.17  1448.48  1414.180  1442.00  2109124

In [39]:
google['Date'] = pd.to_datetime(google['Date'])

In [40]:
google['Month'] = google['Date'].dt.month
google['Year'] = google['Date'].dt.year
google.head(2)

        Date     Open     High       Low    Close   Volume  Month  Year
0 2020-07-02  1451.84  1488.52  1451.065  1469.93  2860915      7  2020
1 2020-07-01  1419.17  1448.48  1414.180  1442.00  2109124      7  2020

In [41]:
google.groupby(by='Month')['Close'].mean()

Month
5    1418.900000
6    1431.595455
7    1455.965000
Name: Close, dtype: float64

In [42]:
google.sort_values(by='Close').head(1)

        Date     Open     High     Low    Close   Volume  Month  Year
4 2020-06-26  1432.63  1437.02  1355.0  1362.54  4882014      6  2020

In [43]:
idx_min = google['Close'].argmin()
idx_min

4

In [46]:
print(google.iloc[[idx_min]])

        Date     Open     High     Low    Close   Volume  Month  Year
4 2020-06-26  1432.63  1437.02  1355.0  1362.54  4882014      6  2020

In [49]:
google = google[['Date', 'Open', 'Close', 'Volume']]
google.head()

        Date     Open    Close   Volume
0 2020-07-02  1451.84  1469.93  2860915
1 2020-07-01  1419.17  1442.00  2109124
2 2020-06-30  1396.88  1418.05  2014320
3 2020-06-29  1360.34  1397.17  2253678
4 2020-06-26  1432.63  1362.54  4882014

In [52]:
google = pd.read_csv("google.csv", index_col=0)
google.head()

               Open     High        Low    Close   Volume
Date
2020-07-02  1451.84  1488.52  1451.0650  1469.93  2860915
2020-07-01  1419.17  1448.48  1414.1800  1442.00  2109124
2020-06-30  1396.88  1424.00  1386.9301  1418.05  2014320
2020-06-29  1360.34  1398.00  1351.6500  1397.17  2253678
2020-06-26  1432.63  1437.02  1355.0000  1362.54  4882014

In [53]:
google = pd.read_csv("google.csv")

In [54]:
google['Date'] = pd.to_datetime(google['Date'])

In [55]:
google['Month'] = google['Date'].dt.month
google['Year'] = google['Date'].dt.year

In [56]:
google = google.drop(columns=['Month', 'Year'])

In [57]:
google.head(2)

        Date     Open     High       Low    Close   Volume
0 2020-07-02  1451.84  1488.52  1451.065  1469.93  2860915
1 2020-07-01  1419.17  1448.48  1414.180  1442.00  2109124

In [58]:
google = pd.read_csv("google.csv")

In [59]:
google.rename(columns={'Open': 'O', 'High': 'H', 'Low': 'L', 'Close': 'C', 'Volume': 'V'}, inplace=True)

In [60]:
google.head(2)

         Date        O        H         L        C        V
0  2020-07-02  1451.84  1488.52  1451.065  1469.93  2860915
1  2020-07-01  1419.17  1448.48  1414.180  1442.00  2109124