In [8]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [10]:
# Index levels/ hierarchy

outside = ['G1', 'G1', 'G1', 'G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [11]:
# make tuple pairs

list(zip(outside, inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [12]:
# df of two columns and 6 rows

df = pd.DataFrame(data=randn(6,2), index=hier_index, columns=['A', 'B'])
df

             A         B
G1 1  0.081155  1.510291
   2 -0.760171 -0.053685
   3  0.555998 -0.226072
G2 1 -1.574728  0.123445
   2 -0.479568  2.020135
   3 -1.285992 -0.746236

In [14]:
df.loc['G1'].loc[1]

A    0.081155
B    1.510291
Name: 1, dtype: float64

In [15]:
df.index.names = ['Groups', 'Num']
df

                   A         B
Groups Num
G1     1    0.081155  1.510291
       2   -0.760171 -0.053685
       3    0.555998 -0.226072
G2     1   -1.574728  0.123445
       2   -0.479568  2.020135
       3   -1.285992 -0.746236

In [22]:
df.loc['G2'].loc[2]['B']  # 'B' is a column, so no .loc

2.020134922212096

In [23]:
# df.xs is used with multi level index

In [24]:
df

                   A         B
Groups Num
G1     1    0.081155  1.510291
       2   -0.760171 -0.053685
       3    0.555998 -0.226072
G2     1   -1.574728  0.123445
       2   -0.479568  2.020135
       3   -1.285992 -0.746236

In [25]:
df.loc['G1']

            A         B
Num
1    0.081155  1.510291
2   -0.760171 -0.053685
3    0.555998 -0.226072

In [27]:
df.xs('G1')

            A         B
Num
1    0.081155  1.510291
2   -0.760171 -0.053685
3    0.555998 -0.226072

In [29]:
# get index 1 from G1 and G2

df.xs(1, level='Num')

               A         B
Groups
G1      0.081155  1.510291
G2     -1.574728  0.123445