In [ ]:
# Dictionary

In [3]:
d = {'key1': 'value', 'key2': 'value2', 'key3': [1,2,3]}

In [2]:
d['key2']

'value2'

In [4]:
d['key3']

[1, 2, 3]

In [5]:
d['key3'][0]

1

In [6]:
d = {'key1':{'innerkey': [1,2,3]}}

In [7]:
d['key1']['innerkey'][1]

2

In [8]:
# Tuples aren't mutable. User cannot change reassign the elements in tuple. You can in a list

In [9]:
t = (1,2,3)

In [10]:
t[1]

2

In [11]:
# Sets - collection of unique elements. Duplicates will be removed. Use sets to grab unique values from a data set

In [13]:
set([1,1,2,2,2,3,3,3,4,4,4,5,5,66])

{1, 2, 3, 4, 5, 66}

In [14]:
s = {1,2,3,4}

In [15]:
s.add(5)

In [16]:
s

{1, 2, 3, 4, 5}

In [17]:
# Conditions

In [18]:
if 1<2:
    print('yay')

yay

In [20]:
if 1!=2:
    print('first')
else:
    print("last")

first

In [21]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('last')

middle

In [ ]:
# if there are multiple elif statemente, only the first True one will be printed.

In [22]:
if 1 == 2:
    print('first')
elif 4 == 4:
    print('second')
elif 3 == 3:
    print('middle')
else:
    print('last')

second